@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}
.container{
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
/* .holder_backages{
    background-image: url(../../assets/Ef6mzb9eZRangNHqxtO7hqEQZpQ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
} */
.card{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 300px;
    height: 500px;
    border: 2px solid #8E8E8EFF;
    border-radius: 10px;
    padding: 20px;
    transition: 0.4s;
}
.card:hover{
    background-color: #1e1e1eff;
    color: white;
}
.card img{
    width: 200px;
    height: 200px;  
    cursor: pointer;
}
.card button{
    width: 120px;
    height: 40px;
    border: 1px solid #8E8E8EFF;
    border-radius: 10px;
    background-color: #F1F1F1FF;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.card button:hover{
    background-color: #1e1e1eff;
    color: rgb(255, 255, 255);
}
.btns{
    display: flex;
    gap: 10px;
}
.holder_backages{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
.mt100{
    margin-top: 100px;
}

/* singel page */
.full-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.video-item {
  width: 100%;
  height: 100%;
}

.video-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
}
  