@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);

.Stage {
  padding: 50px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../assets/U1o89kiy5IEm1MDid90wigLMQ.jpg);

  background-repeat: no-repeat;
  background-size: cover;
}
.PageName {
  color: white;
}

.accordion {
  box-shadow: 0px 13px 23px -13px rgba(0, 0, 0, 0.5);
  width: 750px;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  backdrop-filter: blur(10px);
  /* margin-top: 50px; */
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(252, 196, 92);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2;
  position: relative;
  padding: 10px;
  z-index: 2000;
  border-radius: 4px;
  margin-top: 2px;
  transition: all 0.2s ease-in;
}

.title-text {
  margin-left: 10px;
}

.title:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.title:active {
  background-color: rgba(0, 0, 0, 0.55);
}

.content {
  height: auto; 
  padding: 15px;
  width: 700px;
  background-color: transparent;
  border-radius: 4px;
  color: #ffffff; /* Изменен цвет текста */
  font-size: 18px; /* Увеличен размер шрифта */
  line-height: 24px; /* Увеличен интервал между строками */
  text-align: left;
  position: relative;
  z-index: 1000;
  margin-top: -30px;
  transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.content-open {
  margin-top: 0px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 350ms cubic-bezier(0.08, 1.09, 0.32, 1.275);
}

.content-text {
  padding: 15px;
  visibility: hidden;
  display: none;
  overflow: auto;
  transition: all 0.2s ease-in;
}

.content-text-open {

  visibility: visible;
  display: block;
  transition: all 0.8s ease-in;
}

.fa-angle-down {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.6s cubic-bezier(0.08, 1.09, 0.32, 1.275);
}

.fa-rotate-180 {
  color: rgba(255, 255, 255, 1);
}
